// ===========================================our clients
.section-our-clients {
	padding-top: 6.25rem;
	padding-bottom: 6.25rem;

	@media screen and (max-width: 650px) {
		padding-top: 3rem;
		padding-bottom: 3rem;
	}

	.our-client-title {
		margin-bottom: 2.5rem;
	}

	.clients__description {
		margin-bottom: 5rem;

		@include description-font;

		@media screen and (max-width: 650px) {
			text-align: center;
			font-size: 2rem;
			margin-bottom: 2rem;
		}
	}
}
.our-clients__slider-container {
	margin-bottom: 2.5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;

	@media screen and (max-width: 650px) {
		flex-direction: column;
	}

	.our-clients__item-container {
		max-width: 25%;

		@media screen and (max-width: 650px) {
			max-width: 100%;
		}

		.our-clients-image {
			max-width: 90%;

			&:hover {
				cursor: pointer;
			}
		}
	}
}

// ===============================================end our clients
