// ========================imports
@import 'fonts';

@import 'variables';

@import './blocks/first-screen-style';

// ==================================

html {
	font-size: 16px;
}
body,
h1,
h2,
h3,
p {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #e5e5e5;
}

.content-container {
	margin: 0 auto;
	max-width: $content_width;
	@media screen and (max-width: 1200px) {
		max-width: 80%;
	}
}

// =======================================section our-services
.section {
	padding-top: 8rem;
	padding-bottom: 8rem;
	@media screen and (max-width: 650px) {
		padding-top: 3rem;
		padding-bottom: 3rem;
	}
}

.our-services__container {
	display: flex;
	flex-direction: column;
}
.section__title {
	font-family: 'Lato', sans-serif;
	font-style: normal;
	font-weight: 900;
	font-size: 1.5rem;
	line-height: 2rem;
	color: $gray_light;

	@media screen and (max-width: 650px) {
		text-align: center;
		margin: 0;
	}
}
@mixin description-font {
	font-family: 'Merriweather';
	font-style: normal;
	font-weight: 900;
	font-size: 3rem;
	line-height: 4.3rem;
	color: $gray_middle;
}
.section__description {
	margin-top: 2.5rem;
	margin-bottom: 6.3rem;
	@include description-font;

	@media screen and (max-width: 650px) {
		text-align: center;
		font-size: 2rem;

		margin: 0;
		margin-bottom: 2rem;
	}
	@media screen and (max-width: 400px) {
		font-size: 1.5rem;
	}
}

.our-services-menu {
	display: grid;
	grid-gap: 1.9rem;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 22.5rem);

	@media screen and (max-width: 950px) {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(3, 22.5rem);
	}

	@media screen and (max-width: 650px) {
		grid-template-columns: 1fr;
		grid-template-rows: auto;
	}
}

.our-services__menu-item {
	display: flex;

	padding: 2.8rem;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
		url('../img/servises/service-img.png') center center/cover;
	cursor: pointer;

	transition: all 0.5s ease;

	&:hover {
		background: linear-gradient(
				0deg,
				rgba(14, 146, 240, 0.5),
				rgba(0, 95, 163, 0.5)
			),
			url('../img/servises/service-img.png') center center/cover;
	}
	@media screen and (max-width: 650px) {
		text-align: center;
	}
}

.active-service-item {
	background: linear-gradient(
			0deg,
			rgba(14, 146, 240, 0.5),
			rgba(0, 95, 163, 0.5)
		),
		url('../img/servises/service-img.png') center center/cover;
}

.our-services__menu-link {
	align-self: flex-end;
	text-decoration: none;

	font-family: 'Lato', sans-serif;
	font-style: normal;
	font-weight: 900;
	font-size: 1.5rem;
	line-height: 1.9rem;

	color: #ffffff;
}
// =======================================end section our-services

// =======================================section about
.section-about {
	background: #fff;
}

// .about__container {
// 	display: flex;
// 	flex-direction: column;
// }

.section__description-blue {
	color: $blue_color;
}
.about__container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 7.8rem;

	@media screen and (max-width: 950px) {
		grid-template-columns: 1fr;
	}

	@media screen and (max-width: 650px) {
		grid-gap: 3rem;
	}
}
.about-desription-title {
	margin-bottom: 3.75rem;
	@media screen and (max-width: 650px) {
		margin-bottom: 2rem;
	}
}
.about__description-text {
	font-family: 'Lato', sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 1.12rem;
	line-height: 1.56rem;

	color: #000000;
}
.about-menu {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 1.87rem;

	@media screen and (max-width: 650px) {
		grid-template-columns: 1fr;
	}
}
.about-menu-card {
	padding: 1.87rem 2.5rem;
	background: #ebebeb;

	color: #000;
	transition: all 0.5s ease;

	&:hover {
		cursor: pointer;
		color: #fff;
		background-color: $blue_color;

		a {
			color: inherit;
		}
	}
}

.about-card__count {
	margin-bottom: 1.87rem;

	font-family: 'Lato', sans-serif;
	font-style: normal;
	font-weight: 900;
	font-size: 3.43rem;
	line-height: 4.12rem;
	letter-spacing: 0.1em;
	text-transform: uppercase;

	color: inherit;
}

.about-card__deals {
	margin-bottom: 2.9rem;

	font-family: 'Lato', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 0.87rem;
	line-height: 1.12rem;

	color: inherit;
}

.about-card-link {
	font-family: 'Lato', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 0.87rem;
	line-height: 1rem;

	color: #005fa3;
}

.active-card {
	color: #fff;
	background-color: $blue_color;

	a {
		color: inherit;
	}
}

// ===========================================end section about
// ===========================================our clients
.section-our-clients {
	padding-top: 6.25rem;
	padding-bottom: 6.25rem;
	@media screen and (max-width: 650px) {
		padding-top: 3rem;
		padding-bottom: 3rem;
	}
}

.our-client-title {
	margin-bottom: 2.5rem;
}

.clients__description {
	margin-bottom: 5rem;

	@include description-font;

	@media screen and (max-width: 650px) {
		text-align: center;
		font-size: 2rem;
		margin-bottom: 2rem;
	}
}

.our-clients__slider-container {
	margin-bottom: 2.5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;

	@media screen and (max-width: 650px) {
		flex-direction: column;
	}
}
.our-clients__item-container {
	max-width: 25%;
	@media screen and (max-width: 650px) {
		max-width: 100%;
	}
}

.our-clients-image {
	max-width: 90%;
}

.slider-buttons-group-blue {
	@include slider-buttons-group;
}

.slider-pagination-item-blue {
	@include slider-item;
	background-color: $blue_color;
	transition: all 0.5s ease;

	&:hover {
		background-color: $blue_color;
		opacity: 1;
		cursor: pointer;
	}
}
.slider-pagination-item-blue + .slider-pagination-item-blue {
	margin-left: 2.5rem;
}
.active-slider-item-blue {
	background-color: $blue_color;
	opacity: 1;
}
.slider-button-blue {
	@include slider-button;
	background-color: rgba(0, 95, 163, 0.2);
	transition: all 0.5s ease;
	&:hover {
		background-color: rgba(0, 95, 163, 1);
	}
}
.active-button-blue {
	background-color: rgba(0, 95, 163, 1);
}
// ===============================================end our clients

// ================================================section reviews

.reviews-description {
	margin-bottom: 5rem;
	@media screen and (max-width: 650px) {
		margin-bottom: 2rem;
	}
}

.review-card {
	margin-bottom: 3.12rem;
	padding: 2.8rem 5.9rem;

	background-color: #ebebeb;

	@media screen and (max-width: 650px) {
		padding: 1.5rem;
	}
}

.reviews__description-text {
	margin-bottom: 3.6rem;

	font-family: 'Lato', sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 1.12rem;
	line-height: 1.56rem;

	color: #000000;
}

.reviewer-block {
	display: flex;
	align-items: center;
}

.reviewer-name {
	margin-bottom: 0.6rem;

	font-family: 'Lato', sans-serif;
	font-style: normal;
	font-weight: 900;
	font-size: 1.12rem;
	line-height: 1.56rem;

	color: #000000;
}

.reviewer-block__name {
	margin-left: 2.18rem;
}

.reviewer-vacancy {
	font-family: 'Lato', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 0.8rem;
	line-height: 1.18rem;
}
// ================================================end section reviews

// =============================================footer
.footer__contacts-us {
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
		url('../img/first_section/first-section-img.jpg') center center/cover;
}

.contact-us__form {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-column-gap: 1.8rem;

	@media screen and (max-width: 650px) {
		display: flex;
		flex-direction: column;
	}
}
.contact-us__description {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 2fr 1fr;
	@media screen and (max-width: 1200px) {
		grid-template-rows: 1fr;
	}
}

.contact-us__text-container {
	display: flex;
	align-items: center;

	@media screen and (max-width: 1200px) {
		margin-top: 2rem;
		margin-bottom: 2rem;
	}
	@media screen and (max-width: 650px) {
		margin-top: 1rem;
		margin-bottom: 1rem;
	}
}

.contact-us__contacts {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;

	@media screen and (max-width: 1200px) {
		flex-direction: column;
		align-items: flex-start;
	}

	@media screen and (max-width: 950px) {
		flex-direction: row;
		margin-top: 2rem;
	}
	@media screen and (max-width: 650px) {
		flex-direction: column;
		align-items: center;
	}
}

.contact-us__contact-block-item {
	@media screen and (max-width: 1200px) {
		margin-bottom: 2rem;
	}
}

.message-block {
	margin-top: 1rem;

	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 4;
	display: flex;
	flex-direction: column;
}

.contact-us__container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: auto;
	grid-column-gap: 7.8rem;
	grid-row-gap: 3.12rem;

	padding-top: 7.6rem;
	padding-bottom: 8.75rem;

	@media screen and (max-width: 950px) {
		display: flex;
		flex-direction: column;
		padding-top: 3rem;
		padding-bottom: 4rem;
	}
	@media screen and (max-width: 650px) {
		grid-row-gap: 0;
	}
}
.button-container {
	grid-column-start: 2;
	grid-column-end: 3;
	display: grid;
	grid-template-columns: 1fr;
}
.contact-us__button {
	align-self: flex-end;
	justify-self: end;

	&:hover {
		cursor: pointer;
	}
}

.contact-us__title {
	font-family: 'Merriweather';
	font-style: normal;
	font-weight: 900;
	font-size: 3rem;

	color: #ffffff;

	@media screen and (max-width: 650px) {
		text-align: center;
		font-size: 2rem;
	}
}

.contact-us__text {
	font-family: 'Lato', sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 1.12rem;
	line-height: 1.56rem;

	color: #ffffff;
}

.contact-us__link {
	text-decoration: none;

	font-family: 'Lato', sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 1.3rem;
	line-height: 1.8rem;

	color: #ffffff;

	@media screen and (max-width: 650px) {
		font-size: 1rem;
	}
}

.contact-us__button {
	color: #fff;
	border: none;

	background-color: $blue_color;
	width: 16.8rem;
	padding: 1.2em;

	font-family: 'Lato', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 1.12rem;
	line-height: 1.56rem;
	text-align: center;

	@media screen and (max-width: 650px) {
		width: 100%;
	}
}

.input-label {
	font-family: 'Lato', sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 1rem;
	line-height: 1.3rem;

	color: #ffffff;
}
.form-input {
	padding: 1rem 0;

	font-family: 'Lato';
	font-style: normal;
	font-weight: 300;
	font-size: 1.3rem;
	line-height: 1.8rem;
	color: #bdbdbd;

	background: none;

	border: none;

	border-bottom: 1px solid #ffffff;
}

.input-group {
	@media screen and (max-width: 950px) {
		display: flex;
		flex-direction: column;
	}

	@media screen and (max-width: 650px) {
		margin-top: 2rem;
	}
}

.contact-us__textarea {
	resize: none;
}

.footer-copyright {
	background-color: #fff;
}

.copyright-container {
	padding-top: 3.12rem;
	padding-bottom: 2.5rem;
	display: flex;
	justify-content: space-between;
}
.copyright-info {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 300;
	font-size: 0.8rem;
	line-height: 1.18rem;

	color: #000000;
}
// =============================================end footer
